<h1>IDEASHARE</h1>
<div id=amountOfIdeas>
  <%= @ideas.length %>
</div>
<h2>Create a new Idea</h2>
<% if user_signed_in? %>
  <%= form_for @idea do |f| %>
    Idea: <%= f.text_field :idea %><br />
    Author: <%= f.text_field :author %><br />
    <%= f.submit %>
    <% @email = current_user.email %>
  <% end %>
<% else %>
  <h3>Please Sign In Before Submitting an Idea </h3>
<% end %>
